.Rodape{
  display: flex;
 gap: 1rem;
  align-items: center;
  justify-content: center;
  color: var(--gold);
  width: 100%;
  padding: 3rem;
  margin-top: 2rem;
  text-transform: uppercase;
 background:linear-gradient(90deg, rgb(252, 248, 224),black,rgb(252, 248, 224));
 font-size: 1.5rem;
}
.Logo{
  width: 150px;

}
.Detalhes{
  border-left: 5px solid var(--gold);
  padding-left: 1rem;
}
.Core{
  color:#D6A92C;
  filter: drop-shadow(0 0 0.75rem var(--silver));
}
@media screen and (min-width:0) and (max-width:600px) {
  .Rodape{
    text-transform: uppercase;
  font-size: .8rem;
  gap: 10px;
 margin-top: 3rem;
 background:linear-gradient(90deg,black , rgb(252, 248, 224),black);
  }
}
