.CampoPesquisa{
   width:500px ;
   margin:3rem auto;
   padding: 1.2rem;
    display: flex;
    background: var(--branco);
    border-radius: 5px;
    position: relative;
}
.Todos{
    background: var(--silver);
    color: var(--gold);
    padding: 1rem;
    position: absolute;
    right: -74px;
    border: none;
    border-radius: 0 5px 5px 0;
    top: 0;
    font-size: 1.2rem;
    font-weight: bold;
    bottom: 0;
}
.CampoPesquisa input{
    width: 100%;
    border: none;
    font-size: 1.2rem;
    margin-left: 2px;
}
.Lupa{
    width: 50px;
}
@media screen and (min-width:0) and (max-width:600px) {
    .CampoPesquisa{
        width:70% ;
       padding: .4rem;
         display: flex;
         background: var(--branco);
         border-radius: 5px;
         position: relative;
    
     }
     .Lupa{
    scale: 0.6;

     }
     .Todos{
      position: static;
      padding: 1rem;
      font-size: 1rem;
     }

}
