.Principal{
  width: 100%;
  font-family: cursive;
  height: 100%;
  
}
.SubTitulo{
  color: var(--gold);
  text-align: center;
  
}
.Box{
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   gap: 2rem;
   height: auto;
   /* border:  5px solid red; */
}
.SemResultado{
  width: 90vw;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}

@media screen and (min-width:0) and (max-width:600px) {

}

