.Principal{
  width: 100%;
  font-family: cursive;

  
}
.SubTitulo{
  color: var(--gold);
  text-align: center;
  margin: 2rem 0;
  
}
.Box{
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   gap: 2rem;
  
   /* border:  5px solid red; */
}
.Box .SemResultado{
background: #000;

 
   /* border:  5px solid red; */
}
.SemResultado{
  width: 100vh;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--silver);
  font-size: 1.2rem;
  
}

@media screen and (min-width:0) and (max-width:600px) {
  
}

