.Container{
  width: 90%;

  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: cursive;
  
}

@media screen  and (min-width:0) and (max-width:600px){
  .Container {
    width: auto;
    font-size: 1rem;

  }
}
