.Container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('/src/assets/img/Default_Against_a_rich_luxurious_background_of_bright_vibrant_3.jpg')no-repeat center / cover; 
  height: 100%;
  
}
