:root{
  --gold:#D5B48E;
  --preto: #000000;
  --branco:#ffffff;
  background: url('/src/assets/img/Default_Against_a_rich_luxurious_background_of_bright_vibrant_3.jpg')no-repeat center / cover;
  height: 100%;

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
