:root{
  --gold:#D5B48E;
  --silver:#EEEEEA;
  --preto: #000000;
  --branco:#ffffff;
  background: url('/src/assets/img/Default_A_dramatic_and_moody_illustration_featuring_a_dark_bac_1.jpg');
  

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
