:root{
  --gold:#D5B48E;
  --preto: #000000;
  --branco:#ffffff;
  background: url('/src/assets/img/bg-paris.jpeg')no-repeat center / cover; 

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
