.Cabecalho{
display: flex;
align-items: center;
justify-content: center;

  width: 100%;
height: 150px;
gap: 2rem;
 background:linear-gradient(90deg,black , rgb(252, 248, 224),black,rgb(252, 248, 224));

}
.Cabecalho h1{
  width: 200px;
  border-left: 5px solid var(--gold);
  padding-left: 1rem;
  font-size: 2rem;
  color: var(--gold);
  text-shadow: -2px 2px 8px var(--preto);

}
.Icon{
  width:100px;

 
 }
@media screen and (min-width:0) and (max-width:600px) {
  .Cabecalho{
    
  gap: 1rem;
    width: 100%;
   background:linear-gradient(90deg, rgb(252, 248, 224),black);
  
  }
  .Icon{
    width: 80px;
    
   }
  .Cabecalho h1{
    
    font-size: 1.5rem;
    padding-left: 0.5rem;
  
  }
}


