.Card{
  width: 250px;
  color: var(--branco);
  font-weight: bold;
  border-radius: 10px;
  border: 2px solid var(--silver);
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  box-shadow: 0 4px 15px #000000;
  text-shadow: -1px 2px 8px var(--preto);
  background: url('/src/assets/img/bg-paris.png')no-repeat center / cover;
  justify-content: space-around;
  overflow: hidden;

}
.Titulo{
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: .5rem;
}
.Bandeira{
  width:50px;
  border-radius: 10%;
  height: 50px;
  margin: .5rem;
 
}
.Medalhas{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
 font-size: 1rem;
 padding-left: .5rem;
}
.Detalhes{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(15px);
  font-size: 1rem;

}

@media screen  and (min-width:0) and (max-width:700px){
  .Card {
    width:70%;
    gap: 5px;
    font-size: 1rem;
  }
}